.about-container {
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-size: 1.6rem;
    padding-block-end: 5rem;
    text-align: center;
}

.about-container h1 {
    color: #FF5959;
    text-shadow: 2px 2px #b9bee0;
    text-align: center;
}

.about-container .user-images {
    gap: 2rem;
    max-width: 400px;
}

.about-container .user-images>div {
    gap: 1rem;
    width: 200px;
}

.about-container .user-images img {
    border-radius: 25rem;
}