.email-list-container {
    margin-bottom: 5rem;
    padding: 2rem;
    font-size: 3rem;
    grid-template-columns: 130px 0.9fr;
    grid-template-rows: 100px 1px 1fr;
    gap: 1rem;
    grid-template-areas: ' folders search'/* / */
    '. empty' '  . mails'
}

.email-list-container .compose {
    width: 173px;
    height: 60px;
    padding: 6px;
    border-radius: 3rem;
    border: 1px solid black;
    font-size: 1.5rem;
    font-weight: 100;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
}

.email-list-container .compose>img {
    width: unset;
}

.search-filter {
    text-align: center;
    border-bottom: 2px solid #676fa3;
    grid-area: search;
    width: 50%;
    justify-self: center;
    max-height: 75%;
}

.search-filter>input {
    background-color: #eef2ff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: none;
    width: 90%;
}

.search-filter input:focus {
    outline: none;
}