.email-list-container {
    margin-bottom: 5rem;
    padding: 2rem;
    font-size: 3rem;
    grid-template-columns: 130px 0.9fr;
    grid-template-rows: 100px 1px 1fr;
    gap: 2rem;
    grid-template-areas: ' folders search'/* / */
    '. empty' '  . mails'
}

.search-filter {
    padding: 0.5rem;
    text-align: center;
    border-radius: 30px;
    border: 3px solid black;
    grid-area: search;
    width: 90%;
    max-height: 100px;
    justify-self: center;
}

.search-filter input {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
    border: none;
    width: 100%;
}

.search-filter input:focus {
    outline: none;
}