.jumbo {
    padding-top: 3rem;
    font-size: 4rem;
    color: #FF5959;
    text-align: center;
    text-shadow: 2px 2px gray;
    font-family: 'roboto';
    font-weight: 100;
    letter-spacing: .2rem;
}