.note-app-container {
    font-size: 3rem;
    margin-top: 2rem;
    align-items: center;
    font-family: 'Roboto';
}

.note-app-container .add-note {
    width: 40%;
    min-height: 3rem;
    border: 2px solid black;
    gap: 2rem;
    padding-inline-end: 1rem;
    border-radius: 5px;
}

.note-app-container .add-note input {
    width: 100%;
    padding: 1rem;
    font-size: 15px;
    font-family: 'Roboto';
    margin-inline-start: 1rem;
    height: .8rem;
    border: none;
    text-align: start;
    align-self: center;
    cursor: text;
    color: #202124;
}

.note-app-container .add-note input:focus {
    outline: none;
}

.note-txt,
.note-image,
.note-video,
.note-todos {
    width: 20px;
    height: 20px;
    color: blue;
    fill: blue;
}

.note-type-btn {
    position: absolute;
    top: 20%;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.note-type-btn img {
    width: 25px;
    height: 25px;
    transition: ease-in-out;
}

.note-type-btn>*:hover {
    cursor: pointer;
    color: chartreuse;
}

.inner-note-btn button {
    outline: none;
}