.note-app-container {
    font-size: 3rem;
    margin-top: 2rem;
    align-items: center;
}

.note-app-container .add-note {
    width: 80%;
    min-height: 3rem;
    border: 3px solid black;
    gap: 2rem;
    padding-inline-end: 1rem;
    border-radius: 2rem;
}

.note-app-container .add-note input {
    padding: 1rem;
    font-size: 1.7rem;
    width: 75%;
    margin-inline-start: 1rem;
    height: 1rem;
    border: none;
    text-align: center;
    align-self: center;
}

.note-app-container .add-note input:focus {
    outline: none;
}

.note-txt,
.note-image,
.note-video,
.note-list {
    width: 20px;
    height: 20px;
    color: blue;
    fill: blue;
}