.notes-list {
    columns: auto 250px;
    width: 80%;
    margin-top: 1rem;
    font-size: 2rem;
    min-height: 500px;
    gap: 0.5rem;
}

.notes-list>* {
    padding: 6px;
    break-inside: avoid;
}

.delete-note,
.add-note-button,
.save-note {
    width: 25px;
}

.note-buttons {
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.note-buttons button,
.save-note-todo,
.add-note-img {
    background-color: transparent;
    border: none;
    width: 25px;
}