.note-list {
    columns: auto 250px;
    border: 1px solid black;
    width: 90%;
    margin-top: 1rem;
    font-size: 2rem;
    min-height: 500px;
    gap: 2px;
}

.note-list>* {
    padding: 6px;
    break-inside: avoid
}