.app-header {
    padding-inline-start: 1rem;
    padding-bottom: 1rem;
    color: #04293A;
    font-size: 1.5rem;
    border-bottom: 1px solid #04293A;
    justify-content: space-between;
    align-items: center;
}

.app-header .main-nav {
    gap: 1rem;
    font-weight: bold;
}

.app-header .main-nav:last-child {
    padding-inline-end: 1rem;
}

.main-nav .header-active {
    color: #FF5959;
}

.main-nav a {
    padding: 1rem;
    border-radius: 6px;
    font-size: 2rem;
    min-height: 80px;
    color: #04293A;
}

.main-nav a:hover {
    opacity: 0.6;
}

.logo-container {
    gap: 1rem;
}

.logo-container img:last-of-type {
    margin-top: 5%;
}