.app-header {
    padding-inline-start: 1rem;
    padding-bottom: 1rem;
    color: #00171f;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

.app-header .main-nav {
    gap: 1rem;
    color: #00171f;
    font-weight: bold;
}

.app-header .main-nav:last-child {
    padding-inline-end: 1rem;
}

.main-nav .header-active {
    color: #FF0000;
    border: 3px solid black;
}

.main-nav a {
    padding: 1rem;
    border-radius: 6px;
    font-size: 2rem;
}

.main-nav a:hover {
    opacity: 0.6;
}