.styled-button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    outline-offset: 4px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: filter 250ms;
}

.styled-button:hover {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.styled-button-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.styled-button-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .styled-button-front {
        font-size: 1.5rem;
        padding: 6px
    }
}

.styled-button:hover {
    filter: brightness(110%);
}

.styled-button:hover .styled-button-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.styled-button:active .styled-button-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.styled-button:hover .styled-button-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.styled-button:active .styled-button-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.styled-button:focus:not(:focus-visible) {
    outline: none;
}