.mails-list {
    grid-template-rows: 1fr;
    font-size: 2px;
    gap: 1rem;
    border: 1px solid black;
    grid-area: mails;
    margin-inline-end: 2rem;
}

.mails-list>* {
    text-align: left;
    font-size: 1rem;
}

.mails-list .mail-header {
    max-height: 4.2rem;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-around;
}


/* 
.mails-list .mail-header :first-child {
    padding-inline-start: 75px;
}

.mails-list .mail-header :nth-child(2) {
    text-align: center;
    padding-inline-start: 10px;
}

.mails-list .mail-header :nth-child(3) {
    padding-inline-start: 1rem;
    flex-grow: 0.1;
}

.mails-list .mail-header :nth-child(4) {
    padding-inline-start: 0.6rem;
    flex-grow: 0.7;
}

.mails-list .mail-header :nth-child(5) {
    padding-inline-start: 2rem;
    flex-grow: 0.7;
} */


/* 
/* .mails-list .mail-header :nth-child(6) {
    color: chartreuse;
    flex-grow: 1;
} */


/* .mails-list .mail-header :last-child {
    flex-grow: 0.2;
}

.short-mail-view {
    align-items: center;
}

.short-mail-view>* {
    text-align: left;
    overflow: hidden;
}

.short-mail-view> :nth-child(3) {
    max-width: 115px;
}

.short-mail-view> :nth-child(4) {
    text-align: left;
}

.short-mail-view> :nth-child(5) {
    width: 330px;
    max-width: 30%;
    text-align: left;
}

.short-mail-view :not(:nth-child(-n + 2)) {
    flex-grow: 1;
}

.mails-list .short-mail-view :last-of-type {
    max-width: 150px;
}

.mails-list .short-mail-view {
    max-height: 4.2rem;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-around;
}

.mails-list .short-mail-view input {
    height: 1rem;
} */