.mail-preview-container {
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    height: 5rem;
    outline: 1px solid black;
    align-items: center;
    justify-content: space-around;
}

.empty-messege {
    grid-area: empty;
    text-align: center;
}

.mail-preview-container:last-of-type {
    margin-bottom: 1rem;
}

.long-mail-view {
    padding: 1rem;
    /* min-width: 100%; */
    overflow: visible;
    height: 300px;
    justify-content: left;
    outline: 1px solid black;
    gap: 2rem;
    grid-template-rows: 50px 75px 1fr;
    grid-template-columns: 1fr 1fr 120px;
    grid-template-areas: ' subject buttons date   '/*/*/
    ' to . .  '/*/*/
    ' mail-body mail-body mail-body';
}

.long-mail-view>.long-mail-btn {
    padding-top: 1rem;
    vertical-align: top;
    gap: 0.5rem;
    width: 100%;
    grid-area: buttons;
    max-height: 50px;
    justify-self: flex-end;
}


/* .mail-preview-container .long-mail-view .subject {
    grid-area: subject;
}

.mail-preview-container .long-mail-view .to {
    grid-area: to;
}

.mail-preview-container .long-mail-view .mail-body {
    grid-area: mail-body;
    padding-bottom: 1rem;
    overflow: hidden;
}

.mail-preview-container .long-mail-view .date {
    grid-area: date;
    justify-self: flex-end;
} */

.hover-mail-btn {
    position: absolute;
    gap: 0.5rem;
    margin-top: 1rem;
    right: 13rem;
}