.mails-list {
    grid-template-rows: 1fr;
    font-size: 2rem;
    gap: 1rem;
    border: 1px solid black;
    grid-area: mails;
    margin-inline-end: 2rem;
}

.mails-list .mail-header {
    max-height: 4.2rem;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid black;
}

.mails-list .mail-header :first-of-type {
    max-width: 123px;
}

.mails-list .mail-header :nth-child(2) {
    padding-left: 0.3rem;
}

.mails-list>.mail-header :nth-child(-n + 2),
.short-mail-view :nth-child(-n + 2) {
    flex-grow: 0.1;
}

.mails-list>.mail-header :nth-child(3) {
    flex-grow: 0.2;
}

.mails-list>.mail-header :nth-child(5) {
    margin-inline-start: 1.8rem;
}

.mails-list>.mail-header :not( :nth-child(-n + 3)),
.short-mail-view :not( :nth-child(-n + 2)) {
    flex-grow: 1;
}

.mails-list>.mail-header :last-child {
    text-align: center;
}

.mails-list .short-mail-view :last-of-type {
    max-width: 150px;
}

.mails-list .short-mail-view {
    padding: 1rem;
    width: 100%;
    gap: 1rem;
}