.mail-details {
    padding-top: 1rem;
    margin: auto;
    margin-top: 3rem;
    min-height: 70vh;
    width: 80%;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    row-gap: 6rem;
    text-align: center;
    border: 3px solid black;
    grid-template-areas: 'description subject buttons'/* / */
    '. body . '/* / */
}

.mail-inner-btn {
    margin-inline-end: 2rem;
    grid-area: buttons;
    justify-self: flex-end;
    gap: 1rem;
}

.mail-details .mail-subject {
    grid-area: subject;
    font-size: 3rem;
}

.mail-details .mail-description {
    grid-area: description;
    gap: 1rem
}

.mail-details .mail-body {
    grid-area: body;
    padding-bottom: 2rem;
}