.mails-list {
    padding-top: 1rem;
    grid-template-rows: 1fr;
    font-size: 2rem;
    gap: 1rem;
    border: 1px solid black;
}

.mails-list .mail-header {
    width: 100%;
}

.mails-list>.mail-header :nth-child(-n + 2),
.short-mail-view :nth-child(-n + 2) {
    flex-grow: 0.1;
}

.mails-list>.mail-header :not( :nth-child(-n + 2)),
.short-mail-view :not( :nth-child(-n + 2)) {
    flex-grow: 1;
}

.mails-list .short-mail-view {
    width: 100%;
}