.mail-preview-container {
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    height: 5rem;
    align-items: center;
    border-radius: 1rem;
}

.blank {
    height: 10px;
}

.mail-preview-container td,
tr {
    overflow: hidden;
    border-bottom: 1px thin #f18d8bf2;
    padding: 1rem;
}

.empty-messege {
    grid-area: empty;
    text-align: center;
}

.long-mail-view {
    text-align: center;
    padding: 1rem;
    height: 210px;
    justify-content: left;
    border-bottom: 1px solid #5584AC;
    gap: 2rem;
    grid-template-rows: 50px 75px 1fr;
    grid-template-columns: 1fr 1fr 120px;
    grid-template-areas: ' subject buttons date   '/*/*/
    ' to . .  '/*/*/
    ' mail-body mail-body mail-body';
}

.long-mail-view>.long-mail-btn {
    padding-top: 1rem;
    vertical-align: top;
    gap: 0.5rem;
    width: 100%;
    grid-area: buttons;
    /* max-height: 50px; */
}

.long-mail-view> :first-child {
    padding-inline-start: 1rem;
}

.hover-mail-btn {
    position: absolute;
    gap: 0.5rem;
    right: 13rem;
}