.email-folder-list ul {
    grid-area: folders;
    gap: 0.5rem;
}

.email-folder-list ul>li {
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    max-width: 200px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.email-folder-list ul>li:not( .active-filter):hover {
    background-color: #CDDEFF;
}

.email-folder-list .active-filter {
    background-color: #FF5959;
}