.email-folder-list ul {
    grid-area: folders;
    gap: 0.5rem;
}

.email-folder-list ul>li {
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    max-width: 200px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

li:not( .active-filter):hover {
    background-color: #ff00007d;
}

.active-filter {
    background-color: #03a9f4;
}